@model DashboardCardModel

<div class="card">
    <div class="card-header">@Model.Title</div>
    <div class="card-body text-center">
        <i class="bi @Model.Icon" style="font-size: 2rem; color: #1877F2;"></i>
        <h3>@Model.Value</h3>
    </div>
</div>